<% layout('/layouts/boilerplates') %>
    <div class="row">
        <div class="text-center">New Campground</div>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                <div>
                    <label class="" for="title">Title</label>
                    <input class="form-control" type="text" name="title" id="title" required>
                </div>
                <div>
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" required>
                </div>
                <div>
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name="description" id="description" required> </textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id=" price-label">$</span>
                        <input class="form-control" type="number" name="price" placeholder="0" id="price"
                            aria-describedby="price-label" aria-label="price">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image(s)</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>
                <div class="mb-3 mt-3">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Back to Campgrounds</a>
        </div>

    </div>